/* APP & CHART WRAPPER */
#app {
	margin: 0 auto;
	max-width: 750px;
}
.graphic-container {
	/*display: flex;*/
	margin: 0 auto;
}
.graphic-container .gfx-block {
	margin-top: 5px;
	position: relative;
}
.graphic-container .gfx-block > h2 {
	font-size: 2rem;
	left: 5px;
	position: absolute;
	z-index: 1;
}
.graphic-container .gfx-block > img {
	height: auto;
	width: 100%;
}




@media only screen and (min-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    .graphic-container {
		display: flex;
	}
    .graphic-container .gfx-block {
    	flex: 1;
    	max-width: 50%;
    }
    .graphic-container .gfx-block > img {
    	height: auto;
		width: 95%;
	}
}
